<div class="header">
	<h1>EDIT</h1>
	<div class="navbar">
		<span><a href="/streetart">HOME</a></span>
		<span>//</span>
		<span><a href="/streetart/new">UPLOAD</a></span>
		<span>//</span>
		<span><a href="/users/login">LOG OUT</a></span>
	</div>
</div>


<div class="editList">
	<img src="{{image.imageUrl}}" alt="" width="750px">
</div>


<div class="uploadform" id="updateForm">
	  <form action="/streetart/{{image.id}}?_method=PATCH" method="POST">
			<div class="form-group">
				<label for="image-title">TITLE: </label>
				<input id="image-title" class="form-control" type="text" name="title" value="" required>
			</div>

			<div class="form-group">
				<label for="image-description">DESCRIPTION: </label>
				<input id="image-description" class="form-control" type="text" name="description" value="" required>
			</div>
		</form>

	<div class="editButtons">
		<button class="button" type="submit" name="button">
			<p>EDIT</p>
		</button>
		<form action="/streetart/{{image.id}}?_method=delete" method="post">
			<input type="submit" name="" value="DELETE">
		</form>	
	</div>
</div>


