<div class="header">
	<h1>TITLE OF IMAGE</h1>
	<div class="navbar">
		<span><a href="/streetart">HOME</a></span>
		<span><a href="/streetart/new">UPLOAD</a></span>
	</div>
</div>

<h2>{{id}}</h2>

<ul>
	<li><img src="{{img}}" alt=""></li>
</ul>