<div class="header">
	<h1>{{image.title}}</h1>
	<div class="navbar">
		<span><a href="/streetart">HOME</a></span>
		<span>//</span>
		<span><a href="/users/signup">SIGN UP</a></span>
		<span>//</span>
		<span><a href="/users/login">LOGIN</a></span>
		<span>//</span>
		<span><a href="/streetart/new">UPLOAD</a></span>
	</div>
</div>



<div class="list">
	<a href="/streetart">
		<img src="{{image.imageUrl}}" alt="" width="750px">
		<p>{{image.description}}</p>
	</a>
</div> 

<button><a href="/streetart/{{image.id}}/edit">EDIT</a></button>