<div class="header">
	<h1>{{images.title}}</h1>
	<div class="navbar">
		<span><a href="/streetart">HOME</a></span>
		<span>//</span>
		<span><a href="/users/signup">SIGN UP</a></span>
		<span>//</span>
		<span><a href="/users/login">LOGIN</a></span>
		<span>//</span>
		<span><a href="/streetart/new">UPLOAD</a></span>
	</div>
</div>



<div class="list">
				<img src="{{images.imageUrl}}" alt="" width="200px">
				
				<p>{{images.description}}</p>
</div> 
