<!-- <div class="header">
	<h1>{{images.title}}</h1>
	<div class="navbar">
		<span><a href="/streetart">HOME</a></span>
		<span>//</span>
		<span><a href="/users/signup">SIGN UP</a></span>
		<span>//</span>
		<span><a href="/users/login">LOGIN</a></span>
		<span>//</span>
		<span><a href="/streetart/new">UPLOAD</a></span>
	</div>
</div> -->

<div class="landingPage" width="300px">
	<h2>STREET ART LOCATOR</h2>
	<div class="about">
		<div class="siteInfo">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis quaerat autem fugit suscipit obcaecati officiis tempora mollitia officia, saepe, voluptate eos ipsum, veniam voluptates. Natus fugiat necessitatibus cum quibusdam, sapiente.</p>
			<p>Sign up by clicking the link below!</p>
		</div>
	</div>
	<div class="signInLink">
		<a href="/users/signup">SIGN UP HERE</a>
		<a href="/users/login">LOGIN</a>
	</div>
</div>