<!-- <div class="header">
	<h1>{{images.title}}</h1>
	<div class="navbar">
		<span><a href="/streetart">HOME</a></span>
		<span>//</span>
		<span><a href="/users/signup">SIGN UP</a></span>
		<span>//</span>
		<span><a href="/users/login">LOGIN</a></span>
		<span>//</span>
		<span><a href="/streetart/new">UPLOAD</a></span>
	</div>
</div> -->

<div class="landingPage" width="300px">
	<h2>STREET ART LOCATOR</h2>
	<div class="about">
		<div class="siteInfo">
			<p>This website was intended to have users upload images of streetart that they have seen in real life. The idea sprung after seeing a potential banksy piece on my way to GA. I want the users to be able to attach the location of the art piece for others to visit the site themselves..</p>

			<p>Sign up by clicking the link below!</p>
		</div>
	</div>
	<div class="signInLink">
		<a href="/users/signup">SIGN UP HERE</a>
		<a href="/users/login">LOGIN</a>
	</div>
</div>