<div class="header">
	<h1>THIS IS THE TITLE. {{image.length}} IMAGES</h1>
	<div class="navbar">
		<span><a href="/streetart">HOME</a></span>
		<span>//</span>
		<span><a href="/users/signup">SIGN UP</a></span>
		<span>//</span>
		<span><a href="/users/login">LOGIN</a></span>
		<span>//</span>
		<span><a href="/streetart/new">UPLOAD</a></span>
	</div>
</div>

<h2 class="subHeader">ENJOY</h2>
<p>USER UPLOADS GO HERE</p>


<div class="list">
	
	{{#each images}}
	<div class="image-container">
		<div class="image-item">
			<a href="/streetart/{{this._id}}">
				<img src="{{imageUrl}}" alt="" width="200px">
				<p>{{title}}</p>
			</a>
		</div>
	</div>
	{{/each}}

</div>

