<div class="header">
	<h1>{{images.length}} IMAGES AND COUNTING</h1>
	<div class="navbar">
		<span><a href="/streetart">HOME</a></span>
		<span>//</span>
		<span><a href="/streetart/new">UPLOAD</a></span>
		<span>//</span>
		<span><a href="/users/login">LOG OUT</a></span>
	</div>
</div>

<h2 class="subHeader">USER UPLOADS</h2>

<div class="list">
	
	{{#each images}}
	<div class="image-container">
		<div class="image-item">
			<a href="/streetart/{{this._id}}">
				<img src="{{imageUrl}}" alt="" width="200px">
				<p>{{title}}</p>
			</a>
		</div>
	</div>
	{{/each}}

</div>

