<div class="header">
	<h1>THIS IS THE TITLE. {{image.length}} IMAGES</h1>
	<div class="navbar">
		<span><a href="/streetart">HOME</a></span>
		<span>//</span>
		<span><a href="/user/signup">SIGN UP</a></span>
		<span>//</span>
		<span><a href="/user/login">LOGIN</a></span>
		<span>//</span>
		<span><a href="/streetart/new">UPLOAD</a></span>
	</div>
</div>

<h2 class="subHeader">ENJOY</h2>
<p>USER UPLOADS GO HERE</p>

<div class="list">
	
	<!-- image displayed are pokemon -->
	{{#each image}}
	<div class="image-container">
		<!-- this link takes you to the view -->
		<div class="image-item">
			<a href="/streetart/{{@index}}"><img src="{{img}}" alt="" width="200px"></a>
		</div>
	</div>
	{{/each}}

</div>

