<!DOCTYPE html>
<html>
  <head>
    <title>NAMEOFSITE</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>

  	
	<div class="wrapper">
	    {{{body}}}
	</div>
  <!-- AddToAny BEGIN -->
  
  <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
    <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
    <a class="a2a_button_facebook"></a>
    <a class="a2a_button_twitter"></a>
    <a class="a2a_button_google_plus"></a>
  </div>
  <script async src="https://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->
  </body>
</html>
