body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	padding: 0;
	margin: 0;
	/*background-color: black;*/
	background: url('../images/background.jpg') no-repeat center center fixed;
	background-position: absolute;
	text-align: center;
	font-family: helvetica;
}

a {
  color: #00B7FF;
}

.header {
	height: 100px;
	background-color:  rgba(0, 0, 0, 0.9);
	margin: 0px;
	color: white;
	padding: 0px 20px 20px 20px;

}

.header p {
	margin: 0px;
}

.header h1 {
	margin-top: 0px;
}

.navbar {
	padding-top: 20px;
}

.wrapper {
	margin: 200px;
	background-color:  rgba(255, 255, 255, 0.9);
}

.list {
	padding: 20px;
}

.image-container {
	display: inline-block;
}

.image-item {
	padding: 0px 20px 0px 20px;
}

#addForm {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: space-around;
}

button {
	margin-bottom: 20px;
}

.form-group {
	display: flex;
	justify-content: space-between;
}

.uploadform {
	margin: 0px auto;
	height: 500px;
	width: 500px;
	display: flex;
	justify-content: center;
	align-content: center;
}








