body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	padding: 0;
	margin: 0;
	/*background-color: black;*/
	background: url('../images/background.jpg') no-repeat center center fixed;
	background-position: absolute;
	text-align: center;
	font-family: helvetica;
}

a {
  color: #00B7FF;
}

.header {
	display: flex;
	justify-content: space-between;
	align-content: center;
	height: 150px;
	background-color:  rgba(0, 0, 0, 0.5);
	margin: 0px;
	color: black;
	padding: 0px 20px 20px 20px;
	font-size: 1.25em;
}

.header a {
	text-decoration: none;	
	color: black;
	transition: 4s;
}

.header a:hover {
	color: white;
	transition: .25s;
}

.header p {
	margin: 0px;
}

.header h1 {
	margin-top: 0px;
	
}

.navbar {

}

li {
	list-style: none;
}

.wrapper {
	margin: 200px;
	/*background-color:  rgba(255, 255, 255, 0.9);*/
	background-color: white;
}

.list {
	padding: 20px;
}

.list a {
	text-decoration: none;
	color: black;
	font-size: 1.25em;
}

.list a:hover {
	
}

.image-container {
	display: inline-block;
}

.image-item {
	padding: 0px 20px 0px 20px;
}

#addForm {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: space-around;
}

button {
	margin-bottom: 20px;
}

.form-group {
	display: flex;
	justify-content: space-between;
}

.uploadform {
	margin: 0px auto;
	height: 500px;
	width: 500px;
	display: flex;
	justify-content: center;
	align-content: center;
}



.landingPage {
	display: flex;
	margin: 0 auto;
	height: 500px;
	padding: 25px;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	/*background-color: white;*/
	background-color:  rgba(255, 255, 255, .1);
	padding: 0px 150px 0px 150px;
}

.about {
	margin: 0 auto;
	margin-bottom: 15px;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	height: 300px;
	background-color: lightgrey;
	padding: 25px;
	font-size: 2em;
	border-radius: 10px;
}

.signInLink {
	display: flex;
	justify-content: center;
	/*padding: 0px 50px 0px 50px;*/
}

.signInLink a {
	padding: 15px;
	text-decoration: none;
	transition: 2s;
}

.signInLink a:hover {
	color: black;
	font-size: 1.05em;
	transition: .25s;
}




