body {
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	padding: 0;
	margin: 0;
	background: url('../images/background.jpg') no-repeat center center fixed;
/*	background: url('../images/hal9000.jpg') no-repeat center center fixed;*/
	background-position: absolute;
	text-align: center;
	font-family: helvetica;
	align-content: center;
}

a {
  color: #00B7FF;
  text-decoration: none;
}

.header {
	display: flex;
	justify-content: space-between;
	align-content: center;
	height: 200px;
	background-color:  rgba(0, 0, 0, 0.5);
	margin: 0px;
	color: black;
	padding: 0px 20px 20px 20px;
	font-size: 1.25em;
}

.header a:hover {
	text-decoration: none;
}

.header a {
	text-decoration: none;	
	color: black;
	transition: 4s;
	font-size: 1.25em;
}

.header a:hover {
	color: white;
	transition: .25s;
}

.header p {
	margin: 0px;
}

.header h1 {
	margin-top: 0px;

}

li {
	list-style: none;
}

.wrapper {
	margin: 200px;
	background-color:  rgba(255, 255, 255, 0.9);
	/*background-color: white;*/
}

.list {
	padding: 20px;
}

.list a {
	text-decoration: none;
	color: black;
	font-size: 1.25em;
}

.editList img {
	margin: 100px 0px 0px 0px;
}

.image-container {
	display: inline-block;
}

.image-item {
	padding: 0px 20px 0px 20px;
}

#addForm {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: space-around;
}

button {
	margin-bottom: 20px;
}

.button p {
	margin-bottom: 0;
}

.form-group {
	display: flex;
	justify-content: space-between;

}

.uploadform {
	margin: 0px auto;
	height: 500px;
	width: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
}



.landingPage {
	display: flex;
	margin: 0 auto;
	height: 500px;
	padding: 25px;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	/*background-color: white;*/
	background-color:  rgba(255, 255, 255, .1);
	padding: 0px 150px 0px 150px;
}

.about {
	margin: 0 auto;
	margin-bottom: 15px;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	height: 200px;
	background-color: lightgrey;
	font-size: 1.25em;
	border-radius: 10px;
}

.siteInfo {
	padding: 0px 150px 0px 150px;
	text-align: left;
	display: flex;
	flex-direction: column;
}


.signInLink {
	display: flex;
	justify-content: center;
	padding: 0px 50px 0px 50px;
}

.signInLink a {
	padding: 15px;
	text-decoration: none;
	transition: 1s;
	color: black;
}

.signInLink a:hover {
	color: darkgrey;
	font-size: 1.1em;
	transition: .25s;
	text-decoration: none;
}

.showImage {
	margin-bottom: 50px;
}

.editButtons {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	transition: 2s;
}

.editButtons .button:hover {
	color: white;
	background-color: black;
	transition: 1s;
}

.editButtons .button {
	color: black;
	background-color: white;
	transition: 1s;
	margin: 20px 0px 20px 0px;
}

.deleteButton .value {
	color: red;
}

#socialMedia {
	display: flex;
	float: right;
	height: 100px;
}





