<div class="header">
	<h1>SIGNUP</h1>
	<div class="navbar">
		<span><a href="/users/login">LOGIN</a></span>
	</div>
</div>



<h2 class="subHeader">SIGN UP</h2>
<p>ENTER YOUR INFO</p>

<div class="uploadform">
	<form action="/users" method="post" id="addForm">
		<div class="form-group">
			<label for="username">USERNAME: </label>
			<input type="text" name="username">
		</div>

		<div class="form-group">
			<label for="password">PASSWORD: </label>
			<input type="password" name="password">
		</div>

		<input type="submit" value="sign up">
	</form>
</div>


